# Тестовое задание SQL MTS_CLOUD

Импортируем необходимые для работы библиотеки.

In [1]:
import pandas as pd
from sqlalchemy import create_engine, text
from datetime import datetime, timedelta

Подключаемся к базе данных.

In [2]:
engine = create_engine('postgresql+psycopg2://postgres:4128@localhost:5432/mts_cloud')

Создание таблицы deal_status_log.

In [3]:
sql_query_deal_status = """
CREATE TABLE IF NOT EXISTS deal_status_log (
    deal_id INT,
    status_id INT,
    created TIMESTAMP
);
"""
with engine.begin() as conn:
    conn.execute(text(sql_query_deal_status))
    print("Таблица deal_status_log создана.")

Таблица deal_status_log создана.

Функция для создания и наполнения таблиц

In [4]:
deal_status_data = pd.DataFrame([
    (1, 1, datetime.strptime('2021-05-12 18:54', '%Y-%m-%d %H:%M')),
    (1, 2, datetime.strptime('2021-05-13 13:34', '%Y-%m-%d %H:%M')),
    (1, 1, datetime.strptime('2021-05-17 14:39', '%Y-%m-%d %H:%M')),
    (1, 2, datetime.strptime('2021-05-18 09:24', '%Y-%m-%d %H:%M')),
    (1, 5, datetime.strptime('2021-05-18 15:21', '%Y-%m-%d %H:%M')),
    (2, 1, datetime.strptime('2021-05-19 10:03', '%Y-%m-%d %H:%M')),
    (2, 2, datetime.strptime('2021-05-19 13:00', '%Y-%m-%d %H:%M')),
    (2, 1, datetime.strptime('2021-05-24 10:15', '%Y-%m-%d %H:%M')),
    (2, 2, datetime.strptime('2021-05-24 13:27', '%Y-%m-%d %H:%M')),
    (2, 5, datetime.strptime('2021-05-25 15:14', '%Y-%m-%d %H:%M')),
    (3, 1, datetime.strptime('2021-05-17 10:21', '%Y-%m-%d %H:%M')),
    (3, 2, datetime.strptime('2021-05-17 15:12', '%Y-%m-%d %H:%M')),
    (3, 1, datetime.strptime('2021-05-18 11:15', '%Y-%m-%d %H:%M')),
    (3, 5, datetime.strptime('2021-05-18 12:05', '%Y-%m-%d %H:%M'))
], columns=['deal_id', 'status_id', 'created'])

deal_status_data.to_sql('deal_status_log', engine, index=False, if_exists='append')
print("Данные добавлены в таблицу deal_status_log.")

Данные добавлены в таблицу deal_status_log.

Создание таблицы calendar.

In [5]:
sql_query_calendar = """
CREATE TABLE IF NOT EXISTS calendar (
    dt DATE,
    type VARCHAR(10)
);
"""
with engine.begin() as conn:
    conn.execute(text(sql_query_calendar))
    print("Таблица calendar создана.")

Таблица calendar создана.

Вставка данных в таблицу calendar.

In [6]:
calendar_data = pd.DataFrame([
    ('2021-04-01', 'work'),
    ('2021-04-02', 'work'),
    ('2021-04-03', 'hol'),
    ('2021-04-04', 'hol'),
    ('2021-04-05', 'work'),
    ('2021-04-30', 'work'),
    ('2021-05-01', 'hol'),  
    ('2021-05-02', 'hol'),
    ('2021-05-03', 'hol'),  
    ('2021-05-04', 'hol'),  
    ('2021-05-05', 'work'),
    ('2021-05-06', 'work'),
    ('2021-05-07', 'work'),
    ('2021-05-08', 'hol'),  
    ('2021-05-09', 'hol'), 
    ('2021-05-10', 'hol'), 
    ('2021-05-11', 'work'),
    ('2021-05-12', 'work'),
    ('2021-05-13', 'work'),
    ('2021-05-14', 'work'),
    ('2021-05-15', 'hol'),
    ('2021-05-16', 'hol'),
    ('2021-05-17', 'work'),
    ('2021-05-18', 'work'),
    ('2021-05-19', 'work'),
    ('2021-05-20', 'work'),
    ('2021-05-21', 'work'),
    ('2021-05-22', 'hol'),
    ('2021-05-23', 'hol'),
    ('2021-05-24', 'work'),
    ('2021-12-29', 'work'),
    ('2021-12-30', 'work'),
    ('2021-12-31', 'hol')
], columns=['dt', 'type'])

calendar_data.to_sql('calendar', engine, index=False, if_exists='append')
print("Данные добавлены в таблицу calendar.")

Данные добавлены в таблицу calendar.

Выполнение запроса для расчета фактического времени.

In [7]:
def calculate_actual_time(engine):
    query = """
    WITH FirstLastStatus AS (
        SELECT
            deal_id,
            MIN(created) AS first_status_time,
            MAX(created) AS last_status_time
        FROM
            deal_status_log
        WHERE
            status_id IN (1, 5) -- Учитываем только начальный и конечный статусы
        GROUP BY
            deal_id
    ),
    WorkingDays AS (
        SELECT
            dt
        FROM
            calendar
        WHERE
            type = 'work'
    ),
    DealTime AS (
        SELECT
            f.deal_id,
            SUM(EXTRACT(EPOCH FROM (
                LEAST(f.last_status_time, c.dt + INTERVAL '1 day') - 
                GREATEST(f.first_status_time, c.dt)
            )) / 3600) AS actual_time_hours
        FROM
            FirstLastStatus f
        JOIN
            WorkingDays c ON c.dt BETWEEN DATE(f.first_status_time) AND DATE(f.last_status_time)
        GROUP BY
            f.deal_id
    )
    SELECT
        deal_id,
        COALESCE(actual_time_hours, 0) AS actual_time_hours
    FROM
        DealTime
    ORDER BY
        deal_id;
    """
    return pd.read_sql(query, engine)

# Выполнение функции и вывод результатов
result = calculate_actual_time(engine)
print(result)

   deal_id  actual_time_hours
0        1          92.450000
1        2          85.950000
2        3          25.733333

Среднее время находения на каждом статусе по всем сделкам между отрезками без выходных дней (с учетом повторяющихся статусов), и количество повторов каждого статуса.

In [8]:
def calculate_average_status_time(engine):
    query = """
    WITH StatusDurations AS (
        SELECT
            deal_id,
            status_id,
            created AS start_time,
            LEAD(created, 1) OVER (PARTITION BY deal_id ORDER BY created) AS end_time
        FROM
            deal_status_log
    ),
    WorkingDurations AS (
        SELECT
            sd.status_id,
            sd.deal_id,
            sd.start_time,
            sd.end_time,
            c.dt AS working_day,
            CASE
                WHEN sd.end_time IS NOT NULL THEN
                    LEAST(sd.end_time, c.dt + INTERVAL '1 day') -
                    GREATEST(sd.start_time, c.dt)
                ELSE
                    NULL
            END AS duration
        FROM
            StatusDurations sd
        JOIN
            calendar c ON c.dt BETWEEN DATE(sd.start_time) AND DATE(sd.end_time)
        WHERE
            c.type = 'work'
    ),
    StatusSummary AS (
        SELECT
            status_id,
            COUNT(DISTINCT deal_id) AS status_repeats,
            SUM(EXTRACT(EPOCH FROM duration) / 3600) AS total_hours
        FROM
            WorkingDurations
        GROUP BY
            status_id
    )

    SELECT
        status_id,
        COALESCE(total_hours / NULLIF(status_repeats, 0), 0) AS average_time_hours,
        status_repeats
    FROM
        StatusSummary
    ORDER BY
        status_id;
    """
    return pd.read_sql(query, engine)

# Выполнение функции и вывод результатов
average_status_time_result = calculate_average_status_time(engine)
print(average_status_time_result)

   status_id  average_time_hours  status_repeats
0          1           16.416667               3
1          2           51.627778               3
2          5            0.000000               2